* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #313131;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  padding: .5rem 2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

ul{
  list-style: none;
  display: flex;
}

li p{
  color: rgba(255, 255, 255, .1);
  font-family: sans-serif;
  font-weight: 700;
  font-size: 10rem;

  text-transform: uppercase;
  animation: ligth 900ms linear infinite;
}

li:nth-child(2) p{
  animation-delay: 200ms;
}

li:nth-child(3) p{
  animation-delay: 500ms;
}

li:nth-child(4) p{
  animation-delay: 700ms;
}

@keyframes ligth {
  0%{color: rgba(255, 255, 255, .1); text-shadow: 0 0 0 transparent;}
  20%{color: yellow;text-shadow: 0 0 50px yellow;}
  31%{color: rgba(255, 255, 255, .1); text-shadow: 0 0 0 transparent;}
}