* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #313131;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 10rem;
  height: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 200px;
}

.container .box__load{
  width: 5rem;
  height: 5rem;
  border-radius: .5rem;

  background-color: rgba(255, 255, 255, .7);
  animation: loading 2s ease-out infinite;  
}

@keyframes loading {
  0%{transform: rotateX(190deg);}
  49%{transform: rotateX(0deg)}
  50%{transform: rotateY(0deg);}
  100%{transform: rotateY(190deg)}
}